.card{
    background-color: rgba(0, 53, 84, .8);
    border-radius: 35px;
    width:300px;
    height: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover{
    background-color: rgba(0, 37, 58, .8);
}

.text{
    color: #fff;
    text-decoration: none;
    margin-bottom: 30px;
}

.title{
    margin-bottom: 5px;
}